.navbar {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    padding: 1rem 0;
}

.logo h1 {
    color: #5CB85C;
    font-size: 1.5rem;
    font-weight: 800;

}

a {
    margin-left: 1rem;
    color: gray;
    font-size: 1.2rem;
}